node       20
python     3.11.4
go         1.21
rust       1.72.3
# rustのバージョンを上げたあとはrustup update -> rustup default stableを実行することでrustcなどのバージョンも上がる
lazydocker 0.20.0
php        8.3.0
# phpのバージョン上げた後はpecl install redisして　echo "extension=redis.so" >> /home/usuyuki/.local/share/rtx/installs/php/8.3.0/conf.d/php.iniを実行する
deno       1.36.4
bun        1.0.11
zig        0.11.0
flutter    3.13
